{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>OpenVPN Configuration</h1>
    </div>
</div>

{% if not (ovpn.server_ip|length
    and ovpn.server_port|length
    and ovpn.ca_cert|length
    and ovpn.client_cert|length
    and ovpn.ta_key|length) %}

<div class="container">
    <div class="row">
        <form method="POST" id="openvpn-settings">
            <div class="col-md-12">
                <p class="text-center">OpenVPN Settings</p>
                <div class="form-group">
                    <div class="form-group">
                        <label>Server IP</label>
                        <input class="form-control" name='server_ip' type='text' placeholder="Server IP">
                    </div>
                    <div class="form-group">
                        <label>Server Port</label>
                        <input class="form-control" name='server_port' type='text' placeholder="Server Port">
                    </div>
                    <div class="form-group">
                        <label>CA Certificate</label>
                        <textarea class="form-control" type="text" name="ca_cert" row=5 placeholder="CA Certificate"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Client Certificate</label>
                        <textarea class="form-control" type="text" name="client_cert" row=5 placeholder="Client Certificate"></textarea>
                    </div>
                    <div class="form-group">
                        <label>TLS Crypt</label>
                        <textarea class="form-control" type="text"name="ta_key" row=5 placeholder="TLS Crypt Key"></textarea>
                    </div>
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-success text-center">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% else %}

<div class="container">
    <div class="row">
        <form method="POST" id="openvpn-settings">
            <div class="col-md-12">
                <p class="text-center">OpenVPN Settings</p>
                <div class="form-group">
                    <div class="form-group">
                        <label>Server IP</label>
                        <input class="form-control" type="text" name="server_ip" value="{{ ovpn.server_ip }}">
                    </div>
                    <div class="form-group">
                        <label>Server Port</label>
                        <input class="form-control" type="text" name="server_port" value="{{ ovpn.server_port }}">
                    </div>
                    <div class="form-group">
                        <label>CA Certificate</label>
                        <textarea class="form-control" type="text" name="ca_cert" row=5>{{ ovpn.ca_cert }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Client Certificate</label>
                        <textarea class="form-control" type="text" name="client_cert" row=5>{{ ovpn.client_cert }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>TLS Crypt</label>
                        <textarea class="form-control" type="text"name="ta_key" row=5>{{ ovpn.ta_key }}</textarea>
                    </div>
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-success text-center">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endif %}

{% endblock %}